.App {
  text-align: center;
}

.App-header {
  background-color: black;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  cursor: pointer;
}

.main_container{
  /* background-color: ##e0e0e0; */
}
.spinner {
  height: 80px;
  margin: auto;
}

.App-intro {
  font-size: large;
}

/* new css for movie component */

* {
  box-sizing: border-box;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.App-header h2 {
  margin: 0;
}

.add-movies {
  text-align: center;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.movie {
  padding: 5px 25px 10px 25px;
  margin: 10px;
  max-width: 25%;
  border-radius: 5px;
background: linear-gradient(145deg, #f0f0f0, #cacaca);
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.movie img {
border-radius: 5px;
}

.movie:hover{
  transform: scale(1.1);
  transition: 1s;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2e5094;
  color: antiquewhite;
}

.search > input[type="text"] {
  width: 40%;
  min-width: 170px;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}

@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  height: 80px;
  background-color: #ff8c00;
  transition-duration: 4s;
  transition-delay: 2s;
}

.link {
  color: black;
  font-size: 1.5rem;
}
.link:hover {
  text-decoration: none;
  color: blue;
  font-size: 1.8rem;
}
